body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #303030;
  }

  .cards, .card, .view{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cards{
    height: 600px;
    width: 450px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cards .card{
    cursor: pointer;
    position: relative;
    perspective: 1000px;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
  }

  .card .view{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  }
  .card .front-view img{
    width: 95px;
  }
  .card .back-view img{
    max-width: 95px;
  }